node-red/flows_pi09.json
[{"type":"tab","id":"708b9c24.8f7464","label":"Sheet 1"},{"id":"8abc8d61.75437","type":"serial-port","z":"708b9c24.8f7464","serialport":"/dev/ttylpl","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"2","bin":"bin","out":"time","addchar":false},{"id":"62c793a4.9d386c","type":"serial in","z":"708b9c24.8f7464","name":"rfm69-nr-gw_int","serial":"8abc8d61.75437","x":149,"y":46,"wires":[["fa782658.0587d8","49b0a26a.b64f5c","f20ef73f.0df108"]]},{"id":"fa782658.0587d8","type":"debug","z":"708b9c24.8f7464","name":"Debug GW","active":false,"console":"false","complete":"payload","x":456,"y":52,"wires":[]},{"id":"49b0a26a.b64f5c","type":"file","z":"708b9c24.8f7464","name":"SerialOut","filename":"/tmp/nr/rfm69-nr-gw.out","appendNewline":true,"createDir":true,"overwriteFile":"false","x":428,"y":158,"wires":[]},{"id":"f20ef73f.0df108","type":"tcp out","z":"708b9c24.8f7464","host":"10.20.42.245","port":"9999","beserver":"client","base64":false,"end":true,"name":"PyTCP_OUT","x":442.99998474121094,"y":252,"wires":[]},{"id":"2279977a.dd8668","type":"serial out","z":"708b9c24.8f7464","name":"rfm69-nr_gw_out","serial":"8abc8d61.75437","x":464.99998474121094,"y":360,"wires":[]},{"id":"4e140885.b1ebf8","type":"tcp in","z":"708b9c24.8f7464","name":"PyTCP_IN","server":"server","host":"","port":"9000","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":122.95140075683594,"y":357.2153015136719,"wires":[["2279977a.dd8668","85464225.7ab9c"]]},{"id":"85464225.7ab9c","type":"debug","z":"708b9c24.8f7464","name":"Debug_TCP_IN","active":true,"console":"false","complete":"payload","x":453.93751525878906,"y":500.9028015136719,"wires":[]}]